.ui-datepicker-calendar {
    display: none;
    }
.ui-datepicker-month {
    display: none;
    }
.ui-datepicker-prev{
    display: none;
    }
.ui-datepicker-next{
    display: none;
    }

#contTable{
    background-color: rgba(26, 26, 51, 0.3);
    border-radius: 2%;
}